<section class="row spotlight">
  <div>
  <h3>
    <span class="media-spotlight">
      Media Spotlight:
    </span>
    <% if Work.top_work %>
    <%= link_to Work.top_work.title, work_path(Work.top_work.id)%> by <%= Work.top_work.creator%>
  </h3>
  <p>
    <%=Work.top_work.votes.count%>-<%=Work.top_work.description%>
  </p>
  <%end%>
</div>

</section>
<hr class="root-hr">
<section class="top-ten columns large-4 small-12">
  <h3>Top Movies</h3>
  <ul>
    <% unless Work.top_ten("movie").empty? %>
    <% Work.top_ten("movie").each do |work| %>
      <li>
        <h4> <%= link_to work.title, work_path(work.id)%><small> by <%=work.creator%></small></h4>
        <p><%=work.votes.count%> votes</p>
      </li>
    <%end%>
    <%end%>

  </ul>
</section>
<section class="top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <ul>
    <% unless Work.top_ten("book").empty? %>
    <% Work.top_ten("book").each do |work| %>
      <li>
        <h4> <%= link_to work.title, work_path(work.id)%><small> by <%=work.creator%></small></h4>
        <p><%=work.votes.count%> votes</p>
      </li>
    <%end%>
    <%end%>
  </ul>
</section>
<section class="top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <ul>
    <% unless Work.top_ten("album").empty? %>

    <% Work.top_ten("album").each do |work| %>
      <li>
        <h4> <%= link_to work.title, work_path(work.id)%><small> by <%=work.creator%></small></h4>
        <p><%=work.votes.count%> votes</p>
      </li>
    <%end%>
    <%end%>
  </ul>
</section>
