<h1>Media Spotlight</h1>
<%= link_to @media_spotlight.title, work_path(@media_spotlight.id) %> by <%= @media_spotlight.creator %>

<section class="top-ten-container">
  <section class = "top-ten">
    <h2>Top Movies</h2>
    <ul>
      <% Work.top_ten_movies.each do |work| %>
      <li>
        <%= link_to "#{work.title}", work_path(work.id) %> by <%= "#{work.creator}" %>
        <p>
          <%= "#{work.votes.count} votes" %>
        </p>
      </li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h2>Top Albums</h2>
    <ul>
      <% Work.top_ten_albums.each do |work| %>
      <li>
        <%= link_to "#{work.title}", work_path(work.id) %> by <%= "#{work.creator}" %>
        <p>
          <%= "#{work.votes.count} votes" %>
        </p>
      </li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h2>Top Books</h2>
    <ul>
      <% Work.top_ten_books.each do |work| %>
      <li>
        <%= link_to "#{work.title}", work_path(work.id) %> by <%= "#{work.creator}" %>
        <p>
          <%= "#{work.votes.count} votes" %>
        </p>
      </li>
      <% end %>
    </ul>
  </section>
</section>
