<h3>
  <span class="media-spotlight-header">Media Spotlight</span>
  <a href="/works/<%=@sample.id%>"><%= @sample.title %></a>
  by
  <%=@sample.creator%>
</h3>

<p><%= @sample.votes.count %> votes - <%= @sample.description %></p>


<hr class="root-hr">

<section class="top-ten-container">
  <section class="top-ten">
    <h3>Top Books</h3>
    <ul>
      <% @books.each do |work| %>
        <li>
          <%=link_to work.title, work_path(work[:id])%>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h3>Top Albums</h3>
    <ul>
      <%@albums.each do |work|%>
        <li>
          <%=link_to work.title, work_path(work[:id])%>
        </li>
      <%end%>
    </ul>
  </section>

  <section class="top-ten">
    <h3>Top Movies</h3>
    <ul>
      <%@movies.each do |work|%>
        <li>
          <%=link_to work.title, work_path(work[:id])%>
        </li>
      <%end%>
    </ul>
  </section>
</section>
