<h3>List of works</h3>
<section class="category-table">
  <h4></h4>
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @publications.each do | publication | %>
      <tr>
        <td><%= publication.find_total_votes %></td>
        <td><%= publication.title %></td>
        <td><%= publication.creator %></td>
        <td><%= publication.publication_year %></td>
        <td><%= link_to "Upvote: Path Needed", root_path %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<%= link_to "View top media", root_path %>
<%= link_to "Add a new work", create_publication_path %>
