<main class="row">
  <h3>List of works</h3>

  <section class="media-table">
      <table>
        <thead>
          <h4>Albums</h4>
          <tr>
            <th width=80>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th width=100>Published</th>
            <th width=100>Upvote</th>
          </tr>
        </thead>
        <tbody>
          <% @albums.each do |album| %>
            <tr>
              <td>27</td>
              <td><%= album.title %></td>
              <td><%=album.creator%></td>
              <td>2300</td>
              <td><%= link_to "Upvote", new_publication_vote_path(album.id), class: "button upvote" %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <table>
        <thead>
          <h4>Books</h4>
          <tr>
            <th width=80>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th width=100>Published</th>
            <th width=100>Upvote</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>27</td>
              <td><%= book.title %></td>
              <td><%= book.creator %></td>
              <td>2300</td>
                <td><%= link_to "Upvote", new_publication_vote_path(book.id), class: "button upvote" %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <table>
        <thead>
          <h4>Movies</h4>
          <tr>
            <th width=80>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th width=100>Published</th>
            <th width=100>Upvote</th>
          </tr>
        </thead>
        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td>27</td>
              <td><%= movie.title %></td>
              <td><%= movie.creator %></td>
              <td>2300</td>
                <td><%= link_to "Upvote", new_publication_vote_path(movie.id), class: "button upvote" %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
</main>
