<article class="publication-details">
  <h3><%= @publication.title %></h3>
  <p>Created by: <%= @publication.creator %></p>
  <p>Published: <%= @publication.publication_year %></p>
  <p><%= @publication.description %></p>
  <nav>
    <%= link_to "Back to media ranks", root_path %>
    <%= link_to "Edit", edit_publication_path(@publication.id) %>
    <%= link_to "Upvote", publication_votes_path(@publication.id), method: :post %>
    <%= link_to "Delete", publication_path(@publication.id), method: :delete%>
  </nav>
</article>
<article class="publication-votes">
  <h3><%= @publication.find_total_votes %> Votes for this <%= @publication.category.capitalize %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @publication.votes.each do | vote | %>
        <tr>
          <td><%= vote.user.name %></td>
          <td><%= vote.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
