<table class='media-table'>
  <h4><%= category %></h4>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% model.each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= work.title %> </td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to 'Upvote', work_upvote_path(work), class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
