<h2 class="my-class"><%= page_title %></h2>

<%= form_for @work do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>
