<% page_title ||= "Add / Update" %>
<h3><%= page_title %></h3>


<section>
  <%= form_for @work do |f| %>

    <%= f.label :category %>
    <% categories = ['album', 'book', 'movie'] %>
    <%= f.select :category, categories %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :creator %>
    <%= f.text_field :creator %>

    <%= f.label :publication_year %>
    <%= f.text_field :publication_year %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit class: "button" %>

  <% end %>
</section>
