<table>
  <thead>
    <tr class = "works-row">
      <th>Votes</th>
      <th>Title</th>
      <th>Created by</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>

    <% model.each do |work|%>
    <tr class = "works-row">
      <td><%= work.total_votes%></td>
      <td><%= link_to work.title, work_path(work)%></td>
      <td><%= work.created_by%></td>
      <td><%= work.published%></td>
      <td><%= link_to "Upvote", upvote_path(work), method: :post, class: "button"%></td>
    </tr>
    <%end%>

  </tbody>
</table>
