
<% if @work.votes.count == 1 %>
  <h3>
    <%= @work.votes.count %> vote for this <%="#{@work.category}"%>
  </h3>
<% else %>
  <h3>
    <%= @work.votes.count %> votes for this <%="#{@work.category}"%>
  </h3>
<% end %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @work.votes.each do |v| %>
    <tr>
      <td>
        <%= link_to("#{v.user.name}", user_path(v.user.id))%>
      </td>
      <td>
        <%= v.created_at.year %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
