<main>
  <section class="row spotlight">
    <div>
      <h3>Media Spotlight: <%= link_to "#{@spotlight.title}", work_path(@spotlight) %> by <%= @spotlight.creator %></h3>
      <p><%= @spotlight.votes.count %> votes - <%= @spotlight.description %></p>
    </div>
  </section>

  <section class="top-ten-container">
    <section class="top-ten">
      <h3>Top Albums</h3>
      <%= render partial: "works-by-category", collection: @works.top_albums, as: :item %>
    </section>

    <section class="top-ten">
      <h3>Top Books</h3>
      <%= render partial: "works-by-category", collection: @works.top_books, as: :item %>
    </section>

    <section class="top-ten">
      <h3>Top Movies</h3>
      <%= render partial: "works-by-category", collection: @works.top_movies, as: :item %>
    </section>
  </section>
</main>
