<section>
  <strong>
    Media Splotlight:
    <%= link_to(@works.show_spotlight.title, work_path(@works.show_spotlight)) %>
    by
    <%= @works.show_spotlight.creator %>
  </strong>
</section>

<div class="grid-x">
    <div class="cell small-4">
      <strong>
        Top Movies
      </strong>
      <ul>
        <% @works.show_movies.first(10).each do |movie| %>
        <li>
          <%= link_to(movie.title, work_path(movie)) %>
          by <%= movie.creator %>
        </li>
        <li>
           <%= movie.votes.count %> votes
        </li>
        <% end %>
      </ul>
    </div>

    <div class="cell small-4">
      <strong>
        Top Books
      </strong>
      <ul>
        <% @works.show_books.first(10).each do |book| %>
        <li>
          <%= link_to(book.title, work_path(book)) %>
          by <%= book.creator %>
        </li>
        <li>
           <%= book.votes.count %> votes
        </li>
        <% end %>
      </ul>
    </div>

    <div class="cell small-4">
      <strong>
        Top Albums
      </strong>
      <ul>
        <% @works.show_albums.first(10).each do |album| %>
        <li>
          <%= link_to(album.title, work_path(album)) %>
          by <%= album.creator %>
        </li>
        <li>
           <%= album.votes.count %> votes
        </li>
        <% end %>
      </ul>
    </div>
</div>
