<main>
  <section>
    <h2>Media Spotlight: <%= @spotlight.title %> by <%= @spotlight.creator %></h2>
    <p><%= @spotlight.votes.count %> votes - <%= @spotlight.description %></p>
  </section>

  <section>
    <h2>Top Albums</h2>
    <%= render partial: "works-by-category", collection: @works.top_albums, as: :item %>
  </section>

  <section>
    <h2>Top Books</h2>
    <%= render partial: "works-by-category", collection: @works.top_books, as: :item %>
  </section>

  <section>
    <h2>Top Movies</h2>
    <%= render partial: "works-by-category", collection: @works.top_movies, as: :item %>
  </section>
</main>
