<main>
  <section>
    <h2>Media Spotlight: <%= @works.first.title %> by <%= @works.first.creator %></h2>
    <p>X votes - an <%= @works.first.category %></p>
  </section>

  <section>
    <h2>Top Albums</h2>
    <%= render partial: "works-by-category", collection: @works.where(category: :album).order(:publication_year).limit(10), as: :item %>
  </section>

  <section>
    <h2>Top Books</h2>
    <%= render partial: "works-by-category", collection: @works.where(category: :book).order(:publication_year).limit(10), as: :item %>
  </section>

  <section>
    <h2>Top Albums</h2>
    <%= render partial: "works-by-category", collection: @works.where(category: :movie).order(:publication_year).limit(10), as: :item %>
  </section>
</main>
