<h1>List of works</h1>

<% categories = Work.make_category_hash %>
<% categories.each do |category| %>
  <h3><%= category %></h3>
  <% works_by_category = @works.find_all {|work| work.category == category} %>
  <% i = 0 %>
  <ul>
    <% while i < works_by_category.length %>

      <% one_work = works_by_category[i] %>
      <li>
        <p><%= one_work.votes.count %> <%= link_to one_work.title, work_path(one_work[:id])%> by <%= one_work.creator%> <%=link_to "Upvote", upvote_path(one_work.id), method: :post %></p>
      </li>
      <% i += 1%>
    <% end %>
  </ul>

<% end %>
