<h4>List of Works</h4>

<h3>Albums</h3>
<table>
  <th>Votes</th>
  <th>Title</th>
  <th>Created By</th>
  <th>Published</th>
  <th>Upvote</th>

  <% @albums.each do |album| %>
  <tr>
  <td>Votes</td>
  <td><%= album.title  %></td>
  <td><%= album.creator %></td>
  <td><%= album.publication_year %></td>
  <td>Upvote</td>
  </tr>
  <% end %>
</table>

<h3>Books</h3>
<table>
  <th>Votes</th>
  <th>Title</th>
  <th>Created By</th>
  <th>Published</th>
  <th>Upvote</th>

  <% @books.each do |book| %>
  <tr>
  <td>Votes</td>
  <td><%= book.title  %></td>
  <td><%= book.creator %></td>
  <td><%= book.publication_year %></td>
  <td>Upvote</td>
  </tr>
  <% end %>
</table>

<h3>Movies</h3>
<table>
  <th>Votes</th>
  <th>Title</th>
  <th>Created By</th>
  <th>Published</th>
  <th>Upvote</th>

  <% @movies.each do |movie| %>
  <tr>
  <td>Votes</td>
  <td><%= movie.title  %></td>
  <td><%= movie.creator %></td>
  <td><%= movie.publication_year %></td>
  <td>Upvote</td>
  </tr>
  <% end %>
</table>
