<h1>List of Works</h1>
<h2>Albums</h2>
<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>UpVote</th>
  </tr>
  <% @albums.each do |work| %>
  <tr>
    <td>0</td>
    <td><%=work.title%></td>
    <td><%=work.creator%></td>
    <td><%=work.publication_year%></td>
    <td>Upvote</td>
  </tr>
  <% end %>
</table>

<h2>Books</h2>
<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @books.each do |work| %>
  <tr>
    <td>0</td>
    <td><%=work.title%></td>
    <td><%=work.creator%></td>
    <td><%=work.publication_year%></td>
    <td>Upvote</td>
  </tr>
  <% end %>
</table>

<h2>Movies</h2>
<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @movies.each do |work| %>
  <tr>
    <td>0</td>
    <td><%=work.title%></td>
    <td><%=work.creator%></td>
    <td><%=work.publication_year%></td>
    <td>Upvote</td>
  </tr>
  <% end %>
</table>
