<h3>List of Works</h3>
<section class="media-table">
  <h4>Albums</h4>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @albums.each do |work| %>
    <tr>
      <td><%= Vote.all.where(work_id: work.id).count %></td>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= link_to work.creator, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>
      <td>
      <a class="button upvote" href="create_vote_path">Upvote</a>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<section class="media-table">
  <h4>Books</h4>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @books.each do |work| %>
    <tr>
      <td><%= Vote.all.where(work_id: work.id).count %></td>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= link_to work.creator, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>

    </tr>
    <% end %>
  </table>
</section>

<section class="media-table">
  <h4>Movies</h4>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @movies.each do |work| %>
    <tr>
      <td><%= Vote.all.where(work_id: work.id).count %></td>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= link_to work.creator, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>
      <td><%= link_to work.publication_year, work_path(work.id) %></td>
      <td>

      </td>
    </tr>
    <% end %>
  </table>
</section>
