<h2>List of works</h2>

<h3>Albums</h3>
<table>
  <tr>
    <th> Votes</th>
    <th> Title</th>
    <th> Created By </th>
    <th> Published </th>
    <th> Upvote </th>
  </tr>
  <tr>
<% @works.each do |work| %>
<%if work.category == "album" %>
  <td> <%= work.vote_count%> </td>
  <td>
    <%=link_to work.title, work_path(work[:id]) %>
  </td>
  <td><%=work.creator%></td>
  <td><%=work.publication_year%></td>
  <td> <%=link_to "Upvote", work_votes_path(work), method: :post, class: "button upvote" %> </td>

  </tr>
<%end%>
<%end%>
</table>

<h3>Books</h3>
<table>
  <tr>
    <th> Votes</th>
    <th> Title</th>
    <th> Created By </th>
    <th> Published </th>
    <th> Upvote </th>
  </tr>
  <tr>
<% @works.each do |work| %>
<%if work.category == "book" %>
  <td> <%= work.vote_count%> </td>
  <td>
    <%=link_to work.title, work_path(work[:id]) %>
  </td>
  <td><%=work.creator%></td>
  <td><%=work.publication_year%></td>
  <td> <%=link_to "Upvote", work_votes_path(work), method: :post, class: "button upvote" %> </td>

  </tr>
<%end%>
<%end%>
</table>


<h3>Movies</h3>
<table>
  <tr>
    <th> Votes</th>
    <th> Title</th>
    <th> Created By </th>
    <th> Published </th>
    <th> Upvote </th>
  </tr>
  <tr>
<% @works.each do |work| %>
<%if work.category == "movie" %>
  <td> <%= work.vote_count%> </td>
  <td>
    <%=link_to work.title, work_path(work[:id]) %>
  </td>
  <td><%=work.creator%></td>
  <td><%=work.publication_year%></td>
  <td> <%=link_to "Upvote", work_votes_path(work), method: :post, class: "button upvote" %> </td>

  </tr>
<%end%>
<%end%>
</table>
