<h3>List of Works</h3>

<% @categories.each do |category| %>
<section class = "media-table">

  <h4><%= category.name.capitalize %>s</h4>
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @works.where(category: category).each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= link_to work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", new_vote_path, class: "button" %></td>
      </tr>
      <% end%>
    </tbody>
  </table>
</section>
<% end %>
