<section>
  <h3><strong>List of works</strong></h3>

  <table>
    <h4><strong>Albums</strong></h4>
    <tr>
      <th>
        <strong>Votes</strong>
      </th>
      <th>
        <strong>Title</strong>
      </th>
      <th>
        <strong>Created By</strong>
      </th>
      <th>
        <strong>Pubthshed</strong>
      </th>
      <th>
        <strong>Upvote</strong>
      </th>
    </tr>


    <% @works.albums.each do |work| %>
    <tr>
      <td>
        <%= work.category %>
      </td>
      <td>
        <%= link_to "#{work.title}", work_path(work) %>
      </td>
      <td>
        <%= work.creator %>
      </td>
      <th>
        <%= work.publication_year %>
      </td>
      <td>
        <%= work.description %>
      </td>
    </td>
    <% end %>
  </table>


<table>
  <h4><strong>Books</strong></h4>
  <tr>
    <th>
      <strong>Votes</strong>
    </th>
    <th>
      <strong>Title</strong>
    </th>
    <th>
      <strong>Created By</strong>
    </th>
    <th>
      <strong>Pubthshed</strong>
    </th>
    <th>
      <strong>Upvote</strong>
    </th>
  </tr>


  <% @works.books.each do |work| %>
  <tr>
    <td>
      <%= work.category %>
    </td>
    <td>
      <%= link_to "#{work.title}", work_path(work) %>
    </td>
    <td>
      <%= work.creator %>
    </td>
    <td>
      <%= work.publication_year %>
    </td>
    <td>
      <%= work.description %>
    </td>
  </td>
  <% end %>
</table>



<table>
  <h4><strong>Movies</strong></h4>
  <tr>
    <th>
      <strong>Votes</strong>
    </th>
    <th>
      <strong>Title</strong>
    </th>
    <th>
      <strong>Created By</strong>
    </th>
    <th>
      <strong>Pubthshed</strong>
    </th>
    <th>
      <strong>Upvote</strong>
    </th>
  </tr>


  <% @works.movies.each do |work| %>
  <tr>
    <td>
      <%= work.category %>
    </td>
    <td>
      <%= link_to "#{work.title}", work_path(work) %>
    </td>
    <td>
      <%= work.creator %>
    </td>
    <td>
      <%= work.publication_year %>
    </td>
    <td>
      <%= work.description %>
    </td>
  </tr>
  <% end %>
</table>
</section>



<%= link_to("View top media", root_path, class: "button") %>
<%= link_to("Add a New work", new_work_path, class: "button") %>
