<ul>
  <% @works.each do |work| %>
    <li>
      <%= work.category %>
      <%= work.title %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= work.description %>
    </li>
  <% end %>
</ul>
