<h1>List of works</h1>

<h2>Albums</h2>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td>votes to be shown</td>
          <td><%= link_to album.title, work_path(album)%></td>
          <td><%= album.creator %></td>
          <td><%= album.publication_year %></td>
          <td>Upvote button to be added</td>
        </tr>
      <% end %>
  </tbody>
</table>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>votes to be shown</td>
          <td><%= link_to book.title, work_path(book)%></td>
          <td><%= book.creator %></td>
          <td><%= book.publication_year %></td>
          <td>Upvote button to be added</td>
        </tr>
      <% end %>
  </tbody>
</table>

<h2>Movies</h2>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>votes to be shown</td>
          <td><%= link_to movie.title, work_path(movie)%></td>
          <td><%= movie.creator %></td>
          <td><%= movie.publication_year %></td>
          <td>Upvote button to be added</td>
        </tr>
      <% end %>
  </tbody>
</table>

<ul>
  <li><%= link_to "View top media", root_path %></li>
  <li><%= link_to "Add a new work", new_work_path %></li>
</ul>
