<h1>Works#index</h1>

<section>
<ul class='works-view'>
  <h2> ALBUMS </h2>
  <li class='columns'>
    <a>Votes</a> <a>Title</a><a>Created By</a><a>Year Released</a><a>Upvote</a>
  </li>

  <% @works.where(category: "album").each do |work| %>

    <li>
      <span>
      <%= work.report_vote_tally(work.id) %>
      </span>
      <span>
      <%= link_to work.title, work_path(work[:id]) %>
      </span>
      <span>
      <%= work.creator %>
      </span>
      <span>
      <%= work.year_released %>
      </span>
      <span>
      <%= button_to "Upvote", work_votes_path(work[:id]), method: :post, class: 'button' %>
      </span>
    </li>
  <% end%>
  <h2> BOOKS </h2>
  <li class='columns'>
    <a>Votes</a> <a>Title</a><a>Created By</a><a>Year Released</a><a>Upvote</a>
  </li>

  <% @works.where(category: "book").each do |work| %>

    <li>
      <span>
      <%= work.report_vote_tally(work.id) %>
      </span>
      <span>
      <%= link_to work.title, work_path(work[:id]) %>
      </span>
      <span>
      <%= work.creator %>
      </span>
      <span>
      <%= work.year_released %>
      </span>
      <%= button_to "Upvote", work_votes_path(work[:id]), method: :post, class: 'button' %>
    </li>
  <% end%>

  <h2> MOVIES </h2>
  <li class='columns'>
    <a>Votes</a> <a>Title</a><a>Created By</a><a>Year Released</a><a>Upvote</a>
  </li>

  <% @works.where(category: "movie").each do |work| %>

    <li>
      <span>
      <%= work.report_vote_tally(work.id) %>
      </span>
      <span>
      <%= link_to work.title, work_path(work[:id]) %>
      </span>
      <span>
      <%= work.creator %>
      </span>
      <span>
      <%= work.year_released %>
      </span>
      <span>
      <%= button_to "Upvote", work_votes_path(work[:id]), method: :post, class: 'button' %>
      </span>
    </li>
  <% end%>

</ul>
</section>

<% (@works.where(category: "movie")).works_with_vote_tallies %>
<% @works.get_top_ten_works_with_tallies %>
<% @works.get_top_work_with_tally %>
