

<main class="row">
    <h3>Top Movies</h3>
  <table class="media-table responsive-card-table">
    <%= render partial: "media-table-headers" %>
    <%= render partial: "layouts/work-list-item", collection: @movies, as: :item %>
  </table>
  <h3>Top Books</h3>
  <table class="media-table responsive-card-table">
    <%= render partial: "media-table-headers" %>
    <%= render partial: "layouts/work-list-item", collection: @books, as: :item %>
  </table>
  <h3>Top Albums</h3>
  <table class="media-table responsive-card-table">
    <%= render partial: "media-table-headers" %>
    <%= render partial: "layouts/work-list-item", collection: @albums, as: :item %>
  </table>
</main>
