<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<h2>List of works</h2>

<h3>Albums</h3>
<% @works.each do |work| %>
  <%if work.category == "album" %>
    <%=link_to work.title, work_path(work[:id]) %> by <%= work.creator %>
    <br>
    <p># of votes will be here</p>
  <%end%>
<%end%>

<h3>Books</h3>
<% @works.each do |work| %>
<%if work.category == "book" %>
  <%=link_to work.title, work_path(work[:id]) %> by <%= work.creator %>
  <br>
  <p># of votes will be here</p>
  <%end%>
<%end%>

<h3>Movies</h3>
<% @works.each do |work| %>
  <% if work.category == "movie" %>
    <%=link_to work.title, work_path(work[:id]) %> by <%= work.creator %>
    <br>
    <p># of votes will be here</p>
  <%end%>
<%end%>
