<table class="hover">
    <thead>
      <tr>
        <th width="200">Table Header</th>
        <th>Table Header</th>
        <th width="150">Table Header</th>
        <th width="150">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <th>
        <% @works.each do |work| %>
          <% if work.category == 'album' %>
            <tr>
            <td><%= link_to(work.title, work_path(work) ) %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to 'Upvote', work_votes_path(work), method: :post %></td>
            </tr>
          <% end %>
        <% end %>
      </th>
      <th>
        <% @works.each do |work| %>
          <% if work.category == 'book' %>
            <tr>
            <td><%= link_to(work.title, work_path(work) ) %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to 'Upvote', work_votes_path(work), method: :post %></td>
            </tr>
          <% end %>
        <% end %>
      </th>
      <th>
        <<% @works.each do |work| %>
          <% if work.category == 'movie' %>
          <tr>
            <td><%= link_to(work.title, work_path(work) ) %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to 'Upvote', work_votes_path(work), method: :post, class: 'button' %></td>
          </tr>
          <% end %>
        <% end %>
      </th>
    </tbody>
  </table>
