<h3>List of works</h3>

<section class="media-table">
  <h4>Albums</h4>
  <%= render partial: 'list', locals: {works: @albums.by_category} %>
</section>

<section class="media-table">
  <h4>Books</h4>
  <%= render partial: 'list', locals: {works: @books.by_category} %>
</section>

<section class="media-table">
  <h4>Movies</h4>
  <%= render partial: 'list', locals: {works: @movies.by_category} %>
</section>


<%= link_to "View top media", root_path, class: "button" %>
<%= link_to "Add a new work", new_work_path, class: "button" %>
