<h3>List of works</h3>

<section class="media-table">
  <h4>Albums</h4>
  <%= render partial: 'list', locals: {work_category: "album"} %>
</section>

<section class="media-table">
  <h4>Books</h4>
  <%= render partial: 'list', locals: {work_category: "book"} %>
</section>

<section class="media-table">
  <h4>Movies</h4>
  <%= render partial: 'list', locals: {work_category: "movie"} %>
</section>


<%= link_to "View top media", root_path, class: "button" %>
<%= link_to "Add a new work", new_work_path, class: "button" %>
