<section class="row-spotlight">
  <h3>
    <span class="media-spotlight-header">Media Spotlight:
    </span>
    <span class="most-popular">
      <% if @works.first != nil %>
        <%= link_to("#{@works.first.title}") %></span>
        by <%= @works.first.creator %>
      <% else %>
        <%= link_to("Add some works!", new_work_path) %>
      <% end %>
  </h3>
  <p>vote count - description of work</p>
</section>

<hr class="root-hr">

<section class="top-ten-container">
  <section class="top-ten">
    <h3 class="top-ten-category">Top Movies</h3>
    <ul>
      <% @works.each do |work| %>
      <% if work.category == "movie" %>
      <li>
        <h4><%= link_to("#{work.title}", work_path(work)) %> <small>by <%= work.creator %></small></h4>
      </li>
      <p>
        <%= "#{work.votes.count} votes" %>
      </p>
      <% end %>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h3 class="top-ten-category">Top Books</h3>
    <ul>
      <% @works.each do |work| %>
      <% if work.category == "book" %>
      <li>
        <h4><%= link_to("#{work.title}", work_path(work)) %> <small>by <%= work.creator %></small></h4>
      </li>
      <p>
        <%= "#{work.votes.count} votes" %>
      </p>
      <% end %>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h3 class="top-ten-category">Top Albums</h3>
    <ul>
      <% @works.each do |work| %>
      <% if work.category == "album" %>
      <li>
        <h4><%= link_to("#{work.title}", work_path(work)) %> <small>by <%= work.creator %></small></h4>
      </li>
      <p>
        <%= "#{work.votes.count} votes" %>
      </p>
      <% end %>
      <% end %>
    </ul>
  </section>
</section>
