<h3><span class="media-spotlight-header">Media Spotlight:</span> MOST_VOTES_TITLE_LINK by CREATOR</h3>
<p>WORK.VOTE_COUNT - WORK.DESCRIPTION</p>

<hr class="root-hr">

<section class="top-ten">
  <h3>Top Movies</h3>
    <ul>
      <% @works.each do |work| %>
        <% if work.category == "movie" %>
          <li>
            <%= link_to("#{work.title}", work_path(work)) %> by <%= work.creator %>
          </li>
          <li>
            WORK.VOTE_COUNT
          </li>
        <% end %>
      <% end %>
    </ul>
</section>

<section class="top-ten">
  <h3>Top Books</h3>
  <ul>
    <% @works.each do |work| %>
      <% if work.category == "book" %>
        <li>
          <%= link_to("#{work.title}", work_path(work)) %> by <%= work.creator %>
        </li>
        <li>
          WORK.VOTE_COUNT
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="top-ten">
  <h3>Top Books</h3>
  <ul>
    <% @works.each do |work| %>
      <% if work.category == "album" %>
        <li>
          <%= link_to("#{work.title}", work_path(work)) %> by <%= work.creator %>
        </li>
        <li>
          WORK.VOTE_COUNT
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
