<h2>Create new work</h2>

<% if @work.errors.messages.length > 0 %>
<section class="error_messages">
  <ul>
    <% @work.errors.messages.each do |field, problems| %>
      <li>
        <strong><%= field %></strong>
        <%= problems %>
      </li>
      <% end%>
  </ul>
</section>
<% end %>

<%= form_for @work do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.number_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
