<h3>Create New Page for Work</h3>

<%= form_for @work do |f| %>
  <%= f.label :category %>
  <%= f.select :category, ['movie', 'album', 'book'] %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit class: "button" %>

<% end %>
