<article class="media-details">
  <h3><strong><%= @work.title %></strong></h3>

  <h5>Created by: <%= @work.creator %></h5>

  <h5>Published: <%= @work.publication_year %></h5>

  <h5><%= @work.description %></h5>


  <section>
    <%= link_to("Back to media ranks", root_path, class: "button") %>
    <%= link_to("Edit", edit_work_path(@work), class: "button") %>
    <%= link_to("Upvote") %>
    <%= link_to("Delete", work_path(@work.id), class: "button alert", method: :delete, data: { confirm: "Are you sure?" }) %>
  </section>


  <table>
    <tr>
      <th>
        <strong>User</strong>
      </th>
      <th>
        <strong>Date</strong>
      </th>
    </tr>
    <tr>
      <td>
        <%=  %>
      </td>
      <td>
        <%=  %>
      </td>
    </tr>
  </table>
</section>
