<h1>Works#show</h1>


<h2><%= @work.title %></h2>

<span>Created by: <%= @work.creator %></span>
<span>Year Released: <%= @work.year_released %></span>
<span><%= @work.description %></span>

<span>(unfinishd) Back to media ranks</span>
<span>
  <%= link_to "Edit Work", edit_work_path %>
</span>
<span>(unfinishd) Upvote</span>
<span>
  <%= link_to 'Delete Work',work_path(@work.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" }  %>
</span>

<h2><%= @work.report_vote_tally(@work.id) %> votes for this <%= @work.category %> </h2>

<ul>
  <% @work.report_votes_for_work(@work.id).each do |vote| %>
  <li>
    <a><%= User.find(vote.user_id).name %></a>
    <a><%= vote.created_at %></a>
  </li>
  <% end %>
</ul>
