<h2>Show Page</h2>
<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<%= link_to "Back to media ranks", votes_path, class: "button" %>
<%= link_to "Edit", edit_work_path, class: "button" %>
<%= link_to "Upvote", new_vote_path(@work), method: :post, class: "button" %>
<%= link_to "Delete", votes_path, class: "button" %>

<h2># Votes for this <%= @work.category %></h2>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
  </tr>
  <% @work.votes.each do |vote| %>
    <tr>
      <td><%= vote.user.name %></td>
      <td><%= vote.created_at %></td>
    </tr>
    <% end %>
</table>
