<h2>Work details</h2>

<%= "Category: #{@work.category}" %>
<br>

<%= "Title: #{@work.title}" %>
<br>

<%= "Creator: #{@work.creator}" %>
<br>

<%= "Publication Year: #{@work.publication_year}" %>
<br>

<%= "Description: #{@work.description}" %>
<br>

<%= link_to "Back to media ranks", works_path %>
<br>

<%= link_to "Edit", edit_work_path(@work) %>
<br>

<%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title}?"} %>
