<h1><%=@work.title%></h1>

<h2><%=@work.category%></h2>
<h2></h2>
<ul>
  <li><%=@work.created_by%></li>
  <li><%= @work.published%></li>
  <li><%= @work.description%></li>
</ul>

<ul>
  <li><%= link_to "Back to media ranks", root_path, class: "button"%></li>
  <li><%= link_to "Edit", edit_work_path(@work), class: "button"%></li>
  <li><%= link_to "Upvote", upvote_path(@work), method: :post, class: "button"%></li>
  <li><%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete this #{@work.category}?"}, class: "button" %></li>

</ul>



<h2><%= @work.total_votes%> votes for this movie</h2>
