<main class = "tables">
<article class="media-details columns large-6 small-12">
  <h3><%=@work.title%></h3>

  <p>Created by:  <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p>Description: <%= @work.description %></p>

  <section>
    <a class="button"<%= link_to "Back to media ranks", root_path(@work.id)%></a>
    <a class="button" <%= link_to "Edit", edit_work_path(@work.id) %></a>
    <a class="button" rel="nofollow" data-method="post" <%= link_to 'Upvote', create_vote_path(@work.id), method: :post%> </a>
    <a class="alert button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" <%= link_to 'Delete',
    work_path(@work.id),method: :delete, data: { confirm: 'Are you sure?' } %> </a>
  </section>
</article>

<article class="voting-users columns large-6 small-12">
  <h3><%= "#{@work.votes.count} Votes for this work" %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @work.votes.each do |vote| %>
        <td><a><%= link_to vote.user.name, user_path(vote.user_id)  %></a></td>
        <td> <%= vote.created_at.strftime("%b %d, %Y") %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
</main>
