<article class="media-details">
  <h3><%=@work.title%></h3>
  <p>Created by:
    <%=@work.creator%></p>
  <p>Published:
    <%=@work.publication_year%></p>
    <p>Published:
      <%=@work.description%></p>
  <section>
    <a class="button" href="/">Back to media ranks</a>
    <a class="button" href="/works/<%=@work.id%>/edit">Edit</a>
    <a class="button" rel="nofollow" data-method="post" href="/works/<%=@work.id%>/upvote">Upvote</a>
    <a class="alert button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/<%=@work.id%>">Delete</a>
  </section>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/users/540">sgf</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/488">orange_ficus</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/534">aru</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/533">dfd</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/524">Key</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/145">apple</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/528">bananas2</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/527">supersario</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/493">the real new user</a></td>
        <td>Apr 11, 2018</td>

      </tr><tr>
        <td><a href="/users/1">dan</a></td>
        <td>Apr 10, 2018</td>

      </tr><tr>
        <td><a href="/users/514">abcde</a></td>
        <td>Apr 10, 2018</td>

      </tr><tr>
        <td><a href="/users/496">coco</a></td>
        <td>Apr 10, 2018</td>

      </tr><tr>
        <td><a href="/users/465">coolbanana</a></td>
        <td>Apr 10, 2018</td>

      </tr><tr>
        <td><a href="/users/469">kirsten</a></td>
        <td>Apr 10, 2018</td>

      </tr><tr>
        <td><a href="/users/486">test-icle</a></td>
        <td>Apr  9, 2018</td>

      </tr><tr>
        <td><a href="/users/479">Ottowoman</a></td>
        <td>Apr  9, 2018</td>

      </tr><tr>
        <td><a href="/users/306">zz</a></td>
        <td>Oct 16, 2017</td>

      </tr><tr>
        <td><a href="/users/426">hey ther</a></td>
        <td>Oct 15, 2017</td>

      </tr><tr>
        <td><a href="/users/40">me</a></td>
        <td>Oct 15, 2017</td>

      </tr><tr>
        <td><a href="/users/427">a name</a></td>
        <td>Oct 15, 2017</td>

      </tr><tr>
        <td><a href="/users/253">dee</a></td>
        <td>Oct 15, 2017</td>

      </tr><tr>
        <td><a href="/users/418">tanja </a></td>
        <td>Oct 14, 2017</td>

      </tr><tr>
        <td><a href="/users/404">I am a brand new user for sure</a></td>
        <td>Oct 14, 2017</td>

      </tr><tr>
        <td><a href="/users/322">asf</a></td>
        <td>Oct 12, 2017</td>

      </tr><tr>
        <td><a href="/users/334">One More Username</a></td>
        <td>Oct 11, 2017</td>

      </tr><tr>
        <td><a href="/users/268">cashmonger</a></td>
        <td>Oct 11, 2017</td>







</tr></tbody></table>
</article>
