<h1 class="details">
  <%= @work.title %>
</h1>
<ul class="show_info">
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %></li>
  <li><%= @work.description %></li>
  <li>
    <%= link_to("Back to media ranks", works_path) %>
    <%= link_to("Edit", edit_work_path(@work))%>
    <%= link_to("Upvote")%>
    <%= link_to("Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure to delete #{@work.category} #{@work.title}? "}) %>
  </li>
</ul>
