<h3><%=@work.title%></h3>
<p><%=@work.creator%></p>
<p><%=@work.publication_year%></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
<h3><%=@work.votes.count%> for this book</h3>
<%@work.votes.each do |vote|%>
  <tr>
    <td>
      <%-#link to user,%>
    </td>
    <td>
      <%=@work.vote_date%>
    </td>
  </tr>
  <%end%>
</table>
