<%= render partial: "layouts/error_messages", locals: {model: @work} %>

<h1 class="details">
  <%= @work.title %>
</h1>
<ul class="show-info">
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %></li>
  <li><%= @work.description %></li>
  <li>
    <%= link_to("Back to media ranks", works_path, class: "button") %>
    <%= link_to("Edit", edit_work_path(@work), class: "button") %>
    <%= link_to("Upvote", upvote_path(@work), class: "button") %>
    <%= link_to("Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure to delete #{@work.category} #{@work.title}? "}, class: "button alert") %>
  </li>
  <div>
    <%= @work.votes.count %> Votes for this <%= @work.category.capitalize %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Users</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @work.votes.each do |vote| %>
      <tr>
        <td>
          <%= link_to(vote.user.name, user_path(vote.user)) %>
        </td>
        <td>
          <%= vote.created_at.to_date.strftime("%b %d, %Y") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</ul>
