<main>
  <article class="media-details">
    <h5><strong><%= @work.title %></strong></h5>
    <p>
      Created by: <%= @work.creator %>
    </p>
    <p>
      Published: <%= @work.publication_year %>
    </p>
    <p>
      <%= @work.description %>
    </p>
    <section class="media-options">
      <p>
        <%= link_to "Edit", edit_work_path(@work.id), :class => "button" %>
      </p>
      <p>
        <% votes = Vote.where("user_id = ? AND work_id = ?", @user.id, @work.id) %>
        <% if votes.count > 0 %>
        <span class="button orange">Upvoted</span>
        <% else %>
        <%= link_to "Upvote", work_votes_path(@work.id), method: :post, :class => "button" %>
        <% end %>
      </p>
      <p>
        <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "button" %>
      </p>
    </section>
  </article>
  <article class="albums">
    <h5><strong><%=@work.votes.count%> Votes for this <%= @work.category.capitalize %></strong></h5>
    <table>
      <tr>
        <th>
          User
        </th>
        <th>
          Date
        </th>
      </tr>
      <% @work.votes.each do |vote| %>
      <tr>
        <td>
          <%= link_to vote.user.name, user_path(vote.user_id) %>
        </td>
        <td>
          <%= vote.created_at.strftime("%b %d, %Y") %>
        </td>
      </tr>
      <% end %>
    </table>
  </article>
</main>
