<%= @work.title %>
Created by: <%=@work.created_by%>
Published: <%=@work.year%>
<%=@work.description%>


<%= link_to "Back to Top Works", top_works_path %>
    <%= link_to "Edit", edit_work_path(@work.id) %>
    <%= link_to "Upvote", vote_path(@work.id), method: :post%>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}%>

    <h3><%=@work.votes.count%> Votes for this <%=@work.category.capitalize%></h3>
    <table>
      <thead>
        <tr>
          <th>
            User
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <%@work.votes.each do |vote| %>
          <tr>
            <td>
              <%=vote.user.name%>
            </td>
            <td>
              <%=vote.created_at%> <%#need to get this to be the date in english%>
            </td>
          </tr>
          <%end%>
      </tbody>
    </table>
