<h3><%= @work.title %></h3>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<%= link_to "Back to media ranks", mains_path(@user), class: "button" %>
<%= link_to "Edit", edit_work_path(@work.id), class: "button" %>
<%= link_to "Upvote", work_votes_path(@work), method: :post, class: "button" %>
<%= link_to "Delete", work_path(@work.id), :data => {:confirm => 'Are you sure?'}, method: :delete, class: "button" %>

<h3><%= @work.total_votes %> Votes for this <%= @work.category.capitalize %></h3>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
      <% @work.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.user.name, user_path(vote.user)%></td>
          <td><%= pretty_date(vote.created_at) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
