<h2>Work details</h2>

<%= "Category: #{@work.category}" %>
<br>

<%= "Title: #{@work.title}" %>
<br>

<%= "Creator: #{@work.creator}" %>
<br>

<%= "Publication Year: #{@work.publication_year}" %>
<br>

<%= "Description: #{@work.description}" %>
