<h2>Show a work</h2>

<h2>Category: <%= @work.category %></h2>
<h3>Title: <%= @work.title %></h3>
<h3>Creator:  <%= @work.creator %></h3>
<h3>Publication_year: <%= @work.publication_year %></h3>
<h3>Description: <%= @work.description %></h3>
