<article class="media-details">
  <h3><%=@work.title%></h3>
  <p>Created by:
    <%=@work.creator%></p>
  <p>Published:
    <%=@work.publication_year%></p>
    <p>Published:
      <%=@work.description%></p>
  <section>
    <a class="button" href="/">Back to media ranks</a>
    <a class="button" href="/works/<%=@work.id%>/edit">Edit</a>
    <%= link_to "Upvote", work_votes_path(@work.id), method: :post %>
    <a class="alert button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/<%=@work.id%>">Delete</a>
  </section>

  <h3><%= @work.votes.count %> Votes for this <%= @work.category %></h3>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/users/540">sgf</a></td>
        <td>Apr 11, 2018</td>
      </tr>
    </tbody>
  </table>
</article>
