<h3><%=@work.title%></h3>
<p><%=@work.creator%></p>
<p><%=@work.publication_year%></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
<p><%= link_to "Delete", delete_work_path, method: :delete%><p>
<p><%= link_to "Edit", edit_work_path%></p>

<h3><%=@work.votes.count%> Votes for this <%=@work.category%></h3>
<%@work.votes.zip(@work.users).each do |vote,user|%>
<tr>
  <td><%=user.name%></td>
  <td><%=vote.created_at%></td>
</tr>
<%end%>
</table>
