<h4>Details</h4>
<p>Category: <%= @work.category %></p>
<p>Title: <%= @work.title %></p>
<p>Created by: <% @work.creator %></p>
<p>Publication: <%= @work.publication_year %></p>
<p>Description: <%= @work.description%></p>


<%= link_to "Edit", edit_work_path(@work), class: "button" %>
