<h1><%= @work.title %></h1>

<p>Created By: <%= @work.creator %></p>
<p>Published: <%= @work.published %></p>
<p>description: <%= @work.description %></p>

<ul>
  <li><%=link_to "Back to Media Ranks", root_path %></li>
  <li><%=link_to "Edit", edit_work_path %></li>
  <li><%=link_to "Upvote", upvote_path(@work.id), method: :post %></li>
  <li><%=link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Warning: Work will be deleted. Click OK to confirm."} %></li>
</ul>

<p><%=@work.votes.count%> votes</p>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @work.votes.reverse.each do |vote| %>
    <tr>
      <td><%=link_to vote.user.name, user_path(vote.user.id)%></td>
      <td><%=vote.created_at.to_s(:long) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
