<h1 class="page-header"></h1>
<article class="media-details">
  <h3><%= @work.work_title %></h3>
  <p>Created by: <%= @work.work_creator %></p>
  <p>Published: <%= @work.work_publication_year %></p>
  <p></p>
  <section>
    <%= link_to "Back to media ranks", root_path, class: "button" %>
    <%= link_to "Edit", edit_work_path, class: "button" %>
    <%= link_to "Upvote", edit_work_path, class: "button" %>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button alert" %>
  </section>
</article>


<article class="voting-users">
  <h3>XX Votes for this Album</h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table>
</article>
