<h2><%= @work.title %></h2>
<p>Created by: <%= @work.created_by %></p>
<p>Published: <%= @work.publication_date %></p>
<%= link_to "Back to media ranks", works_path(@work), class: "hollow button" %>

<%= link_to "upvote", upvote_path(@work.id), method: :post %>
