<%= @work.title %>
Created by: <%=@work.created_by%>
Published: <%=@work.year%>
<%=@work.description%>


<%= link_to "Back to Top Works", top_works_path %>
<%= link_to "Edit", edit_work_path(@work.id) %>
<%= link_to "Upvote", vote_path(@work.id), method: :post%>
<%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}%>

<h3><%=@work.votes.count%> Votes for this <%=@work.category.capitalize%></h3>
<table>
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <%@work.votes.each do |vote| %>
    <tr>
      <td>
      <%= link_to vote.user.name, user_path(vote.user.id)%>
      </td>
      <td>
        <%=vote.created_at.to_datetime.to_formatted_s(:long_ordinal)%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
