<h3><%= @work.title %></h3>

<p>Create by: <%= @work.creator %> </p>
<p>Published on: <%= @work.publication_year %> </p>
<p>Create by: <%= @work.creator %> </p>
<p>Description: <%= @work.description %> </p>

<ul>
  <li><%= link_to "Back to media ranks", root_path%>  </li>
  <li><%= link_to "Edit", edit_work_path%>  </li>
  <li><%= link_to "Upvote", new_work_vote_path(@work.id)%>  </li>
  <li><%= link_to "Delete", work_path(@work.id), method: :delete%>  </li>
</ul>


<h3> <%= @work.votes.length %> Votes for this <%= @work.category.capitalize %></h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @work.votes.each do |vote| %>
    <tr>


      <td><%= vote.user.name %></td>
      <td><%= vote.created_at.strftime("%B %d, %Y") %></td>
      <% end %>
    </tr>
  </tbody>
</table>
