<p><%= flash[:notice] %></p>

<h1><%= @work.title %></h1>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<ul>
  <li>Back to media ranks to be linked</li>
  <li><%= link_to "Edit", edit_work_path(@work.id) %></li>
  <li>Upvote to be linked</li>
  <li><%= link_to "Delete", work_path(@work.id), :data => {:confirm => 'Are you sure?'}, method: :delete %></li>
</ul>

<h1>Vote statistics to be added</h1>
