<!-- spotlight -->
<section class="row spotlight">
  <div>
  <%top_work = Work.top%>
  <span class="media-spotlight-header">
    <h3>Media Spotlight: </span> <%= link_to top_work.title, work_path(top_work.id) %> by <%= top_work.created_by %></h3>
    <p>
      <%=top_work.votes.count%> votes - <%= top_work.description%>
    </p>
  </div>
</section>

<hr class="root-hr" />

<% @types.each do |type| %>
<section class="top-ten columns large-4 small-12">
  <h3>Top <%= type.capitalize %>s</h3>
  <section "top-ten columns large-4 small-12">
    <ul>
      <% Work.top_ten(type.to_sym).each do |work| %>
      <li>
        <h4><%=link_to work.title, work_path(work.id)%><small>by <%=work.created_by%></small></h4>
        <%= work.votes.count %> votes
        <%= link_to "Upvote", vote_path(work.id), method: :post %>
      </li>
      <%end%>
    </ul>
  </section>
</section>
<% end %>
