
<section class="row spotlight">
  <div>
    <h3><span class="media-spotlight-header">Media Spotlight</span> <%= link_to @spotlight.work_title %><small> by <%= @spotlight.work_creator%></small></h3>
    <p></p>
  </div>
</section>


<section class="top-ten-container">
  <%= render partial: 'table', locals: {work_category: "album"} %>
  <%= render partial: 'table', locals: {work_category: "book"} %>
  <%= render partial: 'table', locals: {work_category: "movie"} %>

</section>
