<h2 class="login">
  <%= page_title %>
</h2>

<%= form_for @user do |f| %>
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %>

  <%= f.submit "Log In", class: 'button' %>

<% end %>
