<%= render partial: "layouts/error_messages", locals: { model: @user } %>
<h4>
  <% page_title ||= "User Information" %>
  <%= page_title %>
</h4>



<%= form_for @user,  url: {action: "create"},html: {class: 'form'} do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>

</div>

<div>
  <%= f.submit %>
</div>

<% end %>

<div>
<%= link_to "List of users", users_path %>
</div>
