<h4>Edit User:</h4>

<%= render partial: "layouts/error_messages", locals: { model: @user } %>

<%= form_for @user do |u| %>
<%= u.label :username %>
<%= u.text_field :name %>
<%= u.submit "Update!", class: "button" %>
<% end %>
