<h1>Users</h1>
<section class = "add-link">
<%= link_to "Add a New user", new_user_path%>
</section>
<section>

  <%= @users.each do |user| %>
  <ul>
  <li>
    <strong>
    <%= link_to user.id, user_path(user) %>
    </strong>
  </li>
  <li>Name:
    <%= user.name %>
  </li>
  <li>Joined:
    <%= user.joined%>
  </li>
  </ul>
<% end %>

</section>
