<h2>User Summary: <%= link_to @user.username, user_path(@user)%></h2>
<p><%= @user.created_at.strftime("Join site %b %d, %Y")  %></p>

<h3>Votes</h3>

  <table>
    <thead>
      <tr>
        <th>Media title</th>
        <th>Created by</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted on</th>
      </tr>
    </thead>
    <tbody>

      <% @user.votes.each do |vote| %>
      <% work = Work.find(vote.work_id)%>
      <tr>
        <td><%= link_to work.title, work_path%></td>
        <td><%= work.created_by%></td>
        <td><%= work.published%></td>
        <td><%= work.category%></td>
        <td><%= vote.created_at.strftime("%b %d, %Y")%></td>
      </tr>
      <%end%>

    </tbody>
  </table>
  <%= link_to "See all users", users_path, class: "button"%>
  <%= link_to "Back to media list", root_path, class: "button"%>
