
<main class = "row">
  <h2>  User Summary: <%= @user.username %></h2>
  <p> Joined site <%= @user.created_at.strftime('%b %d, %Y')%></p>

  <h4> Votes</h4>
  <table>
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted on</th>
      </tr>
    </thead>
    <tbody>

      <% @user.votes.each do |vote| %>
      <tr>
        <td>
          <%= link_to vote.work.title,work_path(vote.work.id) %>
        </td>
        <td>
          <%= vote.work.creator  %>
        </td>
        <td><%= vote.work.publication_year %>
        </td>
        <td><%= vote.work.category %>
        </td>
        <td><%= vote.date %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "See all users", users_path,class: "button" %>
  <%= link_to "Back to Media List", works_path,class: "button" %>
</main>
