
<article class="user-details">


<h3> User Summary: <%= @user.user_name%></h3>
<p>Joined site: <%= @user.created_at.to_date.to_formatted_s(:long_ordinal)%></p>
</article>

<article class="user-votes">
  <h4>Votes</h4>
  <table>
    <thead>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </thead>
    <tbody>
      <% @user.votes.each do |vote| %>
      <tr>
        <%= link_to vote.work.title, work_path(work[:id]) %>
      </tr>
      <tr>
        <%=vote.work.creator%>
      </tr>
      <tr>
        <%=vote.work.publication_year%>
      </tr>
      <tr>
        <%=vote.work.category%>
      </tr>
      <tr>
        <%=vote.created_at.to_date.to_formatted_s(:long_ordinal)%>
      </tr>
      <%end%>
    </tbody>
  </table>

</article>
