<h2>User Summary:<%= find_user.username %></h2>

<ul>
  <li>
    <%= "Joined site #{find_user.created_at}" %>
  </li>
</ul>

<h3>Votes</h3>
<p>
  <ul>
    <li>Media Title</li>
    <li>Published</li>
    <li>Category</li>
    <li>Voted On</li>
  </ul>
</p>

<p>
<ul>
  <ul>
    <% Vote.votes_by_user(find_user).each do |vote|  %>
    <li>
      <%= link_to Work.find(vote.work_id).title, work_path(Work.find(vote.work_id).id) %>
    </li>
    <li>
      <%= Work.find(vote.work_id).publication_year %>
    </li>
    <li>
      <%= Work.find(vote.work_id).category %>
    </li>
    <li>
      <%= Work.find(vote.work_id).created_at %>
    </li>
    <% end %>
  </ul>
</ul>
</p>
