<h3>
  User Summary:
  <%= @user.name %>
</h3>

<p>Joined site:
  <%= user_creation_date(@user) %>
</p>

<h4>Votes</h4>
  <table>
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Viewed On</th>
      </tr>
    </thead>
    <tbody>
        <% @user.upvoted_works.each do |work| %>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= work.category %></td>
          <td><%= vote_creation_date(work.votes.where(user_id: @user.id)) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>

<%= link_to "See all Users", users_path, class: "button"%>
<%= link_to "Back to Media List", root_path, class: "button"%>
