<h3>User Summary: <a href="users/id"></a>
</h3>
<p>Joined site <p>

<h4>Votes</h4>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% votes = Vote.all.where(user_id: @user) %>
  <% votes.each do |vote| %>
  <% work = Work.find_by(id: vote.work_id) %>
    <% if work %>
  <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><%= work.category %></td>
      <td><%= vote.updated_at.strftime("%b %d, %Y") %></td>
    <% end %>
  <% end %>
  </tr>
</table>
<a class="button" href="/users">See all Users</a>
<a class="button" href="/">Back to Media List</a>
