
<main class="row">
  <h3><strong>User Summary: <%= link_to("#{@user.name}", user_path(@user))%></strong></h3>
  <section>
    <h3><strong>List of users</strong></h3>

    <table>
      <tr>
        <td>
          <strong>Username</strong>
        </td>
        <td width="100">
          <strong>Created By</strong>
        </td>
        <td width="200">
          <strong>Published</strong>
        </td>
        <td width="200">
          <strong>Category</strong>
        </td>
        <td width="200">
          <strong>Voted On</strong>
        </td>
      </tr>


      <% @user.votes.each do |vote| %>
      <tr>
        <td>
          <%= link_to "#{vote.work.title}", work_path(vote.work) %>
        </td>
        <td>
          <%= vote.work.creator %>
        </td>
        <td>
          <%= vote.work.creator %>
        </td>
        <td>
          <%= vote.work.publication_year %>
        </td>
        <td>
          <%= vote.created_at.strftime("%B %d, %Y") %>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
  <%= link_to("See all users", users_path, class: "button") %>
  <%= link_to("Back to media list", root_path, class: "button") %>


</main>
