<h3>Media Spotlight:</h3>
<p>votes</p>


<% top = 10%>


<h3>Top Movies</h3>


<%top.times do |i| %>
<%movie = @movies[i] %>
<%  if movie != nil %>
<ul>
  <li><%=link_to movie.title, work_path(movie[:id])%> by <%= movie.creator %></li>
  <p>votes</p>
</ul>
<% end%>
<% end%>


<h3>Top Books</h3>
<%top.times do |i| %>
<%book = @books[i] %>
<% if book != nil %>
<ul>
  <li><%=link_to book.title, work_path(book[:id])%> by <%= book.creator %></li>
  <p>votes</p>
</ul>
<% end%>
<% end%>

<h3>Top Albums</h3>

<%top.times do |i| %>

<%album = @albums[i] %>
<%  if album != nil%>
<ul>
  <li><%=link_to album.title, work_path(album[:id])%> by <%= album.creator %></li>
  <p> votes</p>
</ul>
<% end%>
<% end%>
