<div class= "welcome-wrapper">
  <h3>
    <span id="spotlight">Media Spotlight:</span>
    <%= link_to @spotlight.title, work_path(@spotlight)%>
    by <%= @spotlight.creator %>
  </h3>
  <span id="spotlight-votes"><%= pluralize(@spotlight.votes.count, "vote") %></span>
  <%= @spotlight.description %>
</p>

<hr />

<div class="grid-x">

<section class="top-ten small-4 columns">
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |work| %>
    <li>
      <h5><%= link_to work.title, work_path(work) %> </h5> <small>by
      <%= work.creator %></small>
      <%= pluralize(work.votes.count, "vote") %>
    </li>
    <% end %>
  </ul>
</section>

<section class="top-ten small-4 columns">
  <h3>Top Books</h3>
  <ul>
    <% @books.each do |work| %>
    <li>
      <h5><%= link_to work.title, work_path(work) %> </h5> by
      <%= work.creator %>
      <%= pluralize(work.votes.count, "vote") %>
    </li>
    <% end %>
  </ul>
</section>

<section class="top-ten small-4 columns">
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |work| %>
    <li>
      <h5><%= link_to work.title, work_path(work) %> </h5>by
      <%= work.creator %>
      <%= pluralize(work.votes.count, "vote") %>
    </li>
    <% end %>
  </ul>
</section>
</div>
</div>
