<% if @spotlight %>
<h3>Media Spotlight: <%= link_to @spotlight.title, work_path(@spotlight.id)%> by <%= @spotlight.creator %></h3>
<p><%= @spotlight.upvotes.count %> votes - <%= @spotlight.description %></p>
<% end %>

<section>
  <section>
    <h3>Top Movies</h3>
    <ul>
      <% @movies.each do |movie| %>
      <li>
        <h4><%= link_to movie.title, work_path(movie)%>      <small>by </small>
          <%= movie.creator %>
        </h4>
        <p><%= movie.upvotes.count %> votes</p>
      </li>
      <% end %>
    </ul>
  </section>
  <section>
    <h3>Top Books</h3>
    <ul>
      <% @books.each do |book| %>
      <li>
        <%= link_to book.title, work_path(book)%>           <small>by </small>
        <%= book.creator %>
        <p><%= book.upvotes.count %> votes</p>
      </li>
      <% end %>
    </ul>
  </section>
  <section>
    <h3>Top Albums</h3>
    <ul>
      <% @albums.each do |album| %>
      <li>
        <%= link_to album.title, work_path(album)%>
        <small>by </small>
        <%= album.creator %>
        <p><%= album.upvotes.count %> votes</p>
      </li>
      <% end %>
    </ul>
  </section>
</section>
