<h3 class="media-spotlight">
<span >Media Spotlight: </span>
<%= link_to @spotlight.title, work_path(@spotlight)%>
by <%= @spotlight.creator %>
</h3>

<p>
  <%= pluralize(@spotlight.votes.count, "vote") %>
  <%= @spotlight.description %>
</p>

<hr />

<section class="top-ten">
  <h3>Top Albums</h3>
  <ul>
    <!--  find_top_ten(@albums)  -->
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, work_path(album) %> by
      <%= album.creator %>
      <%= pluralize(album.votes.count, "vote") %>
    </li>
  <% end %>
  </ul>
</section>

<section class="top-ten">
  <h3>Top Books</h3>
  <ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, work_path(book) %> by
      <%= book.creator %>
      <%= pluralize(book.votes.count, "vote") %>
    </li>
  <% end %>
  </ul>
</section>

<section class="top-ten">
  <h3>Top Movies</h3>
  <ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, work_path(movie) %> by
      <%= movie.creator %>
      <%= pluralize(movie.votes.count, "vote") %>
    </li>
  <% end %>
  </ul>
</section>
