

<section class="row spotlight">
  <div>
    <% if Work.spotlight == nil %>
      <h3>
        <span class="media-spotlight-header">Media Spotlight:</span>
        There are no works. Please add one!
      </h3>
    <% end %>
    <h3>
      <span class="media-spotlight-header">Media Spotlight:</span>
      <%= link_to Work.spotlight.title, work_path(Work.spotlight.id)%> by
      <%= Work.spotlight.creator %>
    </h3>
    <p><%= Work.spotlight.votes.count %> votes - <%=Work.spotlight.description %></p>
  </div>
</section>

<hr class="root-hr">

<section class="top-ten-container">

  <% categories = Work.make_category_hash %>
  <% categories.each do |category| %>
    <section class="top-ten">
      <h3>Top <%= category %></h3>
      <% works = @works.find_all {|work| work.category == category} %>
      <% i = 0 %>
      <ul>
        <% while i < Work.num_runs(works) %>
          <li>
            <h4><%= link_to works[i].title, work_path(works[i][:id])%> by <%= works[i].creator %></h4>
            <p><%= works[i].votes.count %> votes</p>
          </li>
          <% i += 1%>
        <% end %>
      </ul>
    </section>
  <% end %>

</section>
