<h2 class="spotlight"> Media Spotlight Section </h2>

<section class="top-ten-container">


<section class="top-ten">
<h3>Top Movies</h3>
<ul>
<li>
<% @movies.each do |movie| %>

    <%=link_to movie.title, work_path(movie[:id]) %> <small>by <%= movie.creator %></small>
    <br>
    <p># of votes will be here</p>

<%end%>
</li>
</ul>
</section>


<section class="top-ten">
<h3>Top Books</h3>
<ul>
<li>
  <% @books.each do |book| %>

    <%=link_to book.title, work_path(book[:id]) %> <small>by <%= book.creator %></small>
    <br>
    <p># of votes will be here</p>

  <%end%>
</li>
</ul>
</section>



<section class="top-ten">
  <h3>Top Albums</h3>
  <ul>
  <li>
  <% @albums.each do |album| %>

    <%=link_to album.title, work_path(album[:id]) %> <small>by <%= album.creator %></small>
    <br>
    <p># of votes will be here</p>

<%end%>
</li>
</ul>
</section>

</section>
