
<section class="row-spotlight">
  <div>
    <h3>
      <span class="media-spotlight-header">
        Media Spotlight:
      </span>

    </h3>
  </div>
</section>

<section class="top-ten-container">

  <section class="top-ten">
    <h3>Top Movies</h3>
      <ul>
        <% @movies.each do |movie| %>
          <li>
            <h4>
              <%= link_to movie.title, work_path(movie[:id]) %>
              <small><%= movie.creator %> </small>
            </h4>
            <br>
            <p><%= movie.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
  </section>

  <section class="top-ten">
    <h3>Top Books</h3>
      <ul>
        <% @books.each do |book| %>
          <li>
            <h4>
              <%= link_to book.title, work_path(book[:id]) %>
              <small><%= book.creator %> </small>
            </h4>
            <br>
            <p><%= book.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
  </section>

  <section class="top-ten">
    <h3>Top albums</h3>
      <ul>
        <% @albums.each do |album| %>
          <li>
            <h4>
              <%= link_to album.title, work_path(album[:id]) %>
              <small><%= album.creator %> </small>
            </h4>
            <br>
            <p><%= album.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
  </section>



</section>
