<h3>Top Movies</h3>
<% @movies.each do |movie| %>

    <%=link_to movie.title, work_path(movie[:id]) %> by <%= movie.creator %>
    <br>
    <p># of votes will be here</p>

<%end%>

<h3>Top Books</h3>
  <% @books.each do |book| %>

    <%=link_to book.title, work_path(book[:id]) %> by <%= book.creator %>
    <br>
    <p># of votes will be here</p>

  <%end%>

  <h3>Top Albums</h3>
  <% @albums.each do |album| %>

    <%=link_to album.title, work_path(album[:id]) %> by <%= album.creator %>
    <br>
    <p># of votes will be here</p>

<%end%>
