<main class="row">
  <section class="row spotlight">
    <div class="">
      <h3>
        <span class="media-spotlight-header">Media Spotlight: </span>
        <a href="#">Add link to top work</a><span>   by: work.creator </span>
      </h3>
      <p>Add num votes & description</p>
    </div>
  </section>
  <hr class="root-hr">

  </hr>
  <section class="top-ten-container">
    <section class="top-ten">
      <h3>Top Movies</h3>
      <ul>
        <% @movies.each do |movie| %>
        <li>
          <h4><%= link_to movie.title, work_path(movie.id) %>
          <small>by <%= movie.creator %></small>
          </h4>
          <p>num votes</p>
        </li>
        <% end %>
      </ul>
    </section>
    <section class="top-ten">
      <h3>Top Books</h3>
      <ul>
        <% @books.each do |book| %>
        <li>
          <h4><%= link_to book.title, work_path(book.id) %>
          <small>by <%= book.creator %></small>
          </h4>
          <p>num votes</p>
        </li>
        <% end %>
      </ul>
    </section>
    <section class="top-ten">
      <h3>Top Albums</h3>
      <ul>
        <% @albums.each do |album| %>
        <li>
          <h4><%= link_to album.title, work_path(album.id) %>
          <small>by <%= album.creator %></small>
          </h4>
          <p>num votes</p>
        </li>
        <% end %>
      </ul>
    </section>
  </section>

</main>
