<h1>Welcome</h1>
<h2>Albums</h2>
<ul>
<% @albums.each do |album| %>
  <li>
      <span class="title">
        <%= link_to album.title, work_path(album[:id]),
        class: 'title-link' %>
      </span>
       <%= album.creator %>
  </li>
<% end %>
</ul>

<h2>Books</h2>
<ul>
<% @books.each do |book| %>
  <li>
      <span class="title">
        <%= link_to book.title, work_path(book[:id]),
        class: 'title-link' %>
      </span>
       <%= book.creator %>
  </li>
<% end %>
</ul>

<h2>Movies</h2>
<ul>
<% @movies.each do |movie| %>
  <li>
      <span class="title">
        <%= link_to movie.title, work_path(movie[:id]),
        class: 'title-link' %>
      </span>
       <%= movie.creator %>
  </li>
<% end %>
</ul>
