
<h4>
  <% page_title ||= "Twitter Information" %>
  <%= page_title %>
</h4>

<section class = "alert callout">
<% if @twitter.errors.any? %>
  <ul class="errors">
    <% @twitter.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
</section>

<%= form_for @twitter do |f| %>
<div>
  <%= f.label :handle %>
  <%= f.text_field :handle %>
</div>

<div>
  <%= f.label :followers %>
  <%= f.number_field :followers %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>

<div>
<%= link_to "List of twitters", twitters_path %>
</div>
