<h3>Add a new work</h3>

<%= form_for @art do |f| %>
<%= f.label :category %>
<%= f.select :category, w%[album book movie] %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :creator %>
<%= f.text_field :creator %>

<%= f.label :publication_year %>
<%= f.text_field :pub_year %>

<%= f.label :description %>
<%= f.text_field :description %>


<%= f.submit <input type="button" value="Create Work"> %>

<% end %>
