<main class="row">
  <article class="media-details">
    <h3><%= @art.title %></h3>

    <p>Created by: <%= @art.creator %></p>
    <p>Published: <%= @art.pub_year %></p>
    <p>Description: <%= @art.description %></p>

    <section>
      <%= link_to "Back to media ranks", arts_path(@art), {class: "button"} %>

      <%= link_to "Edit", edit_art_path(@art), {class: "button"} %>
      <!-- FIXME: WHY THE HELL IS THIS FORMAT NOT ACCEPTABLE -->
      <%= link_to "Upvote", upvote_path(@art), {method: :post, class: 'button'} %>

      <%= link_to "Upvote", upvote_path(@art), { method: :post, class: "button"}} %>

      <%= link_to "Delete", art_path(@art.id), {method: :delete, class: 'alert button', data: { confirm: 'Are You Sure?'}} %>
    </section>

  </article>

  <article class="voting columns">
    <h3><%= @votes.count %>Votes for this <%= "#{@art.category}" %></h3>
    <table>
      <thead>
        <tr>
          <th>Users</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do %>
        <tr>
          <td>
            <%= link_to vote.user.user_name, user_path(vote.user) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</main>
