<section class="top-ten-container">
  <section class="top-ten">
    <h3>Top Albums</h3>
    <ul>
      <% Work.top_ten_album.each do |work| %>
      <li><%= link_to(work.title, work_path(work)) %></li>
      <li>by <%= work.creator %></li>
      <li><small>Votes: <%= work.votes.count %></small></li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h3>Top Books</h3>
    <ul>
      <% Work.top_ten_book.each do |work| %>
      <li><%= link_to(work.title, work_path(work)) %></li>
      <li>by <%= work.creator %></li>
      <li><small>Votes: <%= work.votes.count %></small></li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten">
    <h3>Top Movies</h3>
    <ul>
      <% Work.top_ten_movie.each do |work| %>
      <li><%= link_to(work.title, work_path(work)) %></li>
      <li>by <%= work.creator %></li>
      <li><small>Votes: <%= work.votes.count %></small></li>
      <% end %>
    </ul>
  </section>
</section>
