<%= render partial: "layouts/error_messages", locals: { model: @instagram } %>

<h4>
  <% page_title ||= "Instagram Information" %>
  <%= page_title %>
</h4>


<%= form_for @instagram do |f| %>
<div>
  <%= f.label :handle %>
  <%= f.text_field :handle%>
</div>

<div>
  <%= f.label :posts %>
  <%= f.number_field :posts %>
</div>

<div>
  <%= f.label :followers %>
  <%= f.number_field :followers %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>

<div>
<%= link_to "List of Instagrams", instagrams_path %>
</div>
