<h1>Instagram</h1>
<main>
  <%= @instagrams.each do |instagram| %>
      <%= instagram.id %>
      <%= instagram.handle %>
      <%= instagram.posts %>
      <%= instagram.followers %>
      <% end %>
</main>
