<h1>Instagram</h1>
<section class = "add-link">
<%= link_to "Add a New Instagram", new_instagram_path%>
</section>
<section>

  <%= @instagrams.each do |instagram| %>
  <ul>
  <li>
    <%= instagram.id %>
  </li>
  <li>Handle:
    <%= instagram.handle %>
  </li>
  <li>Posts:
    <%= instagram.posts %>
  </li>
  <li>Followers:
    <%= instagram.followers %>
  </li>
  </ul>
<% end %>

</section>
