<h1>Subreddits</h1>

<main>
  <%= @subreddits.each do |subreddit| %>
      <%= subreddit.id %>
      <%= subreddit.title %>
      <%= subreddit.description %>
      <%= subreddit.subscribers %>
      <% end %>
</main>
