<h1>Subreddit</h1>
<section class = "add-link">
<%= link_to "Add a New Subreddit", new_subreddit_path%>
</section>
<section>

  <%= @subreddits.each do |subreddit| %>
  <ul>
  <li>
    <strong>
    <%= link_to subreddit.id, subreddit_path(subreddit) %>
    </strong>
  </li>
  <li>Title:
    <%= subreddit.title %>
  </li>
  <li>Description:
    <%= subreddit.description %>
  </li>
  <li> Subscribers:
    <%= subreddit.subscribers %>
  </li>
  </ul>
<% end %>

</section>
