

<section>
  <h2>Subreddit Details</h2>
  <h3><%= @subreddit.title %></h3>
  <p><%= @subreddit.description %></p>
  <p><%= @subreddit.subscribers %></p>
  <li>
    <%= link_to "Edit", edit_subreddit_path(@subreddit) %>
    <%= link_to("Delete", subreddit_path(@subreddit), method: :delete, data: { confirm: "Are you sure you want to delete this subreddit?" }) %>
    <%= link_to "List of subreddits", subreddits_path %>
      <%=link_to "Upvote", subreddit_upvote_path(@subreddit), method: :post %>
  </li>
</section>

<section>
  <h1>Votes</h1>
  <% @subreddit.votes.each do |vote| %>
  <ul>
    <li>
      <%= vote.id %>
    </li>
    <li>User Id:
      <%= vote.user_id%>
    </li>
    <li>Subreddit Id:
      <%= vote.subreddit_id %>
    </li>
  </ul>
  <% end %>

</section>
