<h1><%= page_title %></h1>

<%= render partial: "layouts/error-messages", locals: {model: @work, class: "callout error-handling"} %>

<%= form_for @work, html: {class: "modify-input"} do |f| %>
<% options_array = ["album", "book", "movie"] %>
<%= f.label :category %>
<%= f.select :category, options_for_select(options_array) %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :creator, "Creator" %>
<%= f.text_field :creator %>

<%= f.label :publication_year, "Publication Year" %>
<%= f.text_field :publication_year %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.submit %>
<% end %>
