
  <tr>
    <td><%= item.vote_count %> </td>
    <td><%= link_to item.name, item %></td>
    <td><%= item.creator %></td>
    <td><%= item.publication_year%></td>
    <td><%= format_date(vote.created_at) %></td>
  </tr>
