<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/owl.jpg" />
  <!-- Insert this within your head tag and after foundation.css -->

</head>

<body>
  <header>
    <h2><%= link_to "Media Ranker", root_path %><small> Ranking the Best of Everything</small></h2>

    <nav class = "menu">
      <%= link_to "View top media", root_path, class: "button"%>
      <%= link_to "View all media", works_path, class: "button"%>
      <%= link_to "Add a new work", new_work_path, class: "button"%>
      <%= link_to "View all users", users_path, class: "button"%>
      <div class="float-right">
        <% if session[:user_id]%>
        <%= link_to User.find(session[:user_id]).username, user_path(session[:user_id]), class: "button"%>
        <%= link_to "Logout", logout_path, method: :delete, class: "button"%>
        <%else%>
        <%= link_to "Log in", login_path, class: "button"%>
        <%end%>
      </div>
    </nav>


  </header>
  <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

<main>
  <%= yield %>
</main>

</body>
</html>
