<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediaRanker</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="page-header row">
      <h2>
        <a href="/">Media Ranker</a>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav>
        <%= link_to "View top media", root_path, class: 'button' %>
        <%= link_to "View all media", works_path, class: 'button' %>
        <%= link_to "Add a new work", new_work_path, class: 'button' %>
        <%= link_to "View All Users", users_path, class: 'button' %>
        <div class="float-right">
          <% if @user %>
            <%= link_to "Logged in as #{@user.name}" , users_path(@user.id), class: 'button' %>
            <%= link_to "Log Out", logout_path, method: :delete, class: 'button', :rel => 'nofollow' %>
          <% else %>
            <%= link_to "Log In", login_form_path,  class: 'button float-right' %>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
