<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Media Ranker</title>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header class="page-header">
    <h2>
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <%= link_to "View top media", root_path, class:"button" %>
      <%= link_to "View all media", works_path, class:"button" %>
      <%= link_to "Add a new work", new_work_path, class:"button" %>
      <%= link_to "View all users", users_path, class:"button" %>

      <div class="float-right">
        <%= link_to "Log In", new_user_path, class:"button" %>
      </div>

    </nav>
  </header>

  <body>

    <main>

      <% if flash[:status] %>

        <section class="callout">

        <div class="flash-<%= flash[:status] %>">

        <%= flash[:message] %>

        </div>

          <% if flash[:errors] %>

          <ul>
            <% flash[:errors].each do |field, errors | %>

              <% errors.each do |e| %>
                <% if !e.to_s.blank? %>
                  <li><%= e %></li>
                <% end %>
              <% end %>

            <% end %>
          </ul>

          <% end %>

        </section>

      <% end %>

      <%= yield %>

    </main>

  </body>
</html>
