<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1>Media Ranker | Ranking the best of everything</h1>

      <ul>
      <li>
        <%= link_to 'View Top Media', root_path %>
      </li>
      <li>View All Media
      </li>
      <li>Add a New Work
      </li>
      <li><%= link_to 'View all users', users_path %>
      </li>
      <li>Log In
      </li>

      <ul>
      <li>
      <%= link_to 'View Instagrams', instagrams_path %>
    </li>
    <li>
      <%= link_to 'View Twitters',
      twitters_path %>
    </li>
    <li>
      <%= link_to "View Subreddits", subreddits_path %>
    </li>
  </ul>
</header>

    <%= yield %>

  </body>
</html>
