<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Media Ranker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h2><%= link_to 'Media Ranker',root_path %> <span>Ranking the best of everything</span></h2>
    <nav>
    <%# FIXME:  %><%= link_to 'View top media',works_path, class: 'button'%>
      <%= link_to 'View all media', works_path, class: 'button' %>
      <%= link_to 'Add new work', new_work_path, class: 'button' %>
      <%= link_to 'View all users',users_path, class: 'button' %>
      <div class='float-right'>
        <% if session[:user_id] %>
          <% @log = User.find(session[:user_id])%>
          <%= link_to "Logged in as #{@log.name}" , user_path(@log), class:'button'%>
          <%= link_to 'Log Out', logout_path, method: :delete, class:'button' %>
          <% else%>
            <%= link_to 'Log In', login_path, class:'button' %>
        <%end%>
      </div>

    </nav>
    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
        <% end %>

      <%= yield %>
    </main>

    <footer>
      &copy Kiera Thomasson, 2018
    </footer>
  </body>
</html>
