<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h2>
        <%= link_to "Media Ranker", root_path %>
        <span class="tagline">Ranking the Best of Everything</span>
      </h2>
      <nav>
        <%= link_to "View top media", root_path %>
        <%= link_to "View all media", publications_path %>
        <%= link_to "Add a new work", new_publication_path %>
        <%= link_to "View all users", users_path %>
        <% if @user && @user.valid? %>
          <%= link_to "Logged in as #{@user.name}", user_path(@user.id) %>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", login_form_path %>
        <% end %>
      </nav>
    </header>
    <section>
      <% flash.each do | name, message | %>
        <% if name == "alert" %>
          <% if message.class == String %>
            <h3><%= message %></h3>
          <% else %>
            <% flash[:alert].each do |field, messages| %>
              <h3>A problem occurred: Could not <%= field %></h3>
              <ul>
                <% messages.each do | field, message | %>
                  <li>
                    <%= field %>: <%= message %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% else %>
          <h3><%= message %></h3>
        <% end %>
      <% end %>
    </section>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
