<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag asset_path('owl.jpg'), :rel => 'icon', :type => 'image/jpg' %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= "MediaRanker"%></title>


  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <header>
    <div>
      <%=link_to "View top media", works_path, method: :get%>
      <%=link_to "View all media", works_path, method: :get%>
      <%=link_to "Add a new work", new_work_path, method: :get%>
      <%=link_to "View all users", new_work_path, method: :get%>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div>
      copyright 2018
    </div>

  </footer>
</body>
</html>
