<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet'>
  <%= favicon_link_tag asset_path('owl.png'), :rel => 'icon', :type =>  'image/png' %>
</head>

<body>
  <header class="page-header row">
    <h2>
      Media Ranker
      <small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <ul>

      </ul>
      <li><%= link_to 'Top most Works', root_path, class: "button" %></li>
        <li><%= link_to 'View all Media', works_path, class: "button" %></li>
        <li><%= link_to 'Add a new Work', new_work_path, class: "button" %></li>
        <li><a class="button" href="/users">View all users</a></li>
        <li>
          <% if session[:user_id] %>
          <%= link_to "Logout", logout_path, method: :delete, class: "hollow button" %>
          <% else %>
          <%= link_to "Login", login_path, class: "hollow button" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="flash">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </main>

  <footer>
  </footer>

</body>
</html>
