<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <%if @user && @user.name %>
          <li><%=link_to "Logout", logout_path, method: :delete%></li>
          <li><%=link_to "Logged in as #{@user.name}", user_path(@user.id)%></li>
        <%else%>
            <li><%=link_to "Login", login_path%></li>
        <%end%>
      </ul>
    </nav>

    <main>
      <section class="flash">
      <ul>
        <%flash.each do |field,message|%>
        <li><%=message%></li>
        <%end%>
      <ul>
      </section>
    </main>
    </section>
    <%= yield %>

  </body>
</html>
