<!DOCTYPE html>

<link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' />

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header class="page-header row">
    <h2>
      <strong><a href="/">Media Ranker</a></strong>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/publications">View all media</a>
      <a class="button" href="/publications/new">Add a new work</a>
      <a class="button" href="/users">View all users</a>
      <div class="float-right">
        <% if @user %>
          <% if @user.id != nil %>
            <%= link_to "Logged in as #{@user.name}", user_path(@user.id), class: "button" %>
            <%= link_to "logout", logout_path, method: :delete, class: "button" %>
          <% end %>
        <% else %>
          <%= link_to "Log In", login_form_path, class: "button" %>
        <% end %>
      </div>
    </nav>
  </header>

  <body>

    <%= yield %>

  </body>
</html>
