<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= favicon_link_tag asset_path('owl.png'), rel: 'icon', type: 'image/png' %>

  <title><%= content_for?(:title) ? yield(:title) : "MediaRanker" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="page-header row">
    <h2>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <%= link_to "View top media", root_path, class: "button" %>
      <%= link_to "View all media", works_path, class: "button" %>
      <%= link_to "Add a new work", new_work_path, class: "button" %>
      <%= link_to "View all users", users_path, class: "button" %>
      <div class="float-right">
        <!-- dry up with view helper? -->
        <% if session[:user_id] %>
        <% @current_user = User.find(session[:user_id]) %>
        <%= link_to "Logged in as #{@current_user.name}", user_path(@current_user), class: "button" %>
        <%= link_to "Logout", logout_path, method: :delete, class:"button secondary" %>
        <% else %>
        <% link_to "Log In", login_path, class: "button" %>
        <a class="button float-right" href="/login">Log In</a>
        <% end %>
      </div>
    </nav>
  </header>

  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="callout <%= name %> status">
        <%= message %>
          <% if @vote || @user || @work %>
          <% models = [@vote, @user, @work]%>
            <% models.each do |model| %>
              <% if model %>
              <% render_error(model) %>

              <%= render partial: 'layouts/error-messages', locals: {model: model} %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
