<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="https://media-ranker-2-0.herokuapp.com/assets/favicon-910822ff6cd5f6d37119171c4b716f1d4e5fe0e8ad5e408627659ebf8d7f16b1.ico", alt: "site logo, an owl">
</head>

<body>
  <header>
    <h2 class="text-center"><%= link_to "Media Ranker ", homepage_path %> <small> Ranking the Best of Everything</small>
    </h2>
    <nav class="nav_bar">
      <%= link_to "View top media", root_path, class: "button" %>
      <%= link_to "View all media", works_path, class: "button" %>
      <%= link_to "Add a new work", new_work_path, class: "button" %>
      <%= link_to "View all users", users_path, class: "button" %>
      <div class="float-right">
        <% if session[:user_id] %>
        <%= link_to "Logout", logout_path, method: :delete, class: "button float-right"%>
        <%= link_to "Logged in as #{User.find(session[:user_id]).name}", user_path(session[:user_id]), class: "button float-right" %>
        <% else %>
        <%= link_to "Login", login_path, class: "button float-right" %>
        <% end %>
      </div>
    </nav>
  </header>
  
  <main class="main">
    <% if !flash.empty? %>
    <section class="flash">
      <% flash.each do |name, message| %>
      <div class="<%= name %>">
        <% if name != "error" %>
        <p class="flash-message"><%= message %></p>
        <% else%>
        <ul class="flash-errors">
          <% flash["error"].each do |error_name, error_mes| %>
            <% if !error_mes.empty? %>
            <li class="<%= error_name %>">
              <%= error_name %>: <%= error_mes[0] %>
            </li>
            <% end %>
          <% end %>
        </ul>
        <% end %>

      </div>
      <% end %>
    </section>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
