<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h1>
      <%image_tag "owl.jpg", alt: "Site logo f an owl", class: "logo" %>
      Media Ranker |  Ranking the best of everything
    </h1>

    <nav class = "main bar">
      <ul>
        <li class = "button"> <%= link_to 'View Top Media', root_path %></li>
        <li class = "button"> <%= link_to 'View all Media', home_index_path %></li>
        <li class = "button"><%= link_to 'Add a New Work', new_home_path %></li>
        <li class = "button"><%= link_to 'View all users', users_path %></li>
      </ul>

      <ul>
        <li class = "small button"><%= link_to 'View Instagrams', new_instagram_path %></li>
        <li class = "small button"><%= link_to 'View Twitters',
        twitters_path %></li>
        <li class = "small button"><%= link_to "View Subreddits", subreddits_path %></li>
      </ul>

      <ul>
        <li class = "button">
          <% if session[:user_id] %>
          Logged in as <%= session[:user_id] %>
          <%= "#{User.find(session[:user_id]).name}" %>
          <%= link_to "Logout", logout_path, method: :delete, class: "hollow button" %>
          <% else %>
          <%= link_to "Login", login_path, class: "hollow button" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>

      <%= yield %>
    </main>
<footer>
  <p>&copy; Media Ranker, 2018</p>
</footer>

</body>
</html>
