<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediaRanker</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>
      <h1> MediaRanker!</h1>
      <nav>
        <ul>
          <li>(unfinished) View Top Media</li>
          <li> <%= link_to "View All Media", works_path %></li>
          <li> <%= link_to "Add a New Work", new_work_path %></li>
          <li> <%= link_to "View All Users", users_path %></li>
          <% if @user %>
            <li>
              Welcome <%= @user.name %>
              <%= link_to "Logout", logout_path, method: :delete %>
          <% else %>
             <%= link_to "Login", login_form_path %>
             </li>
          <% end %>
          <li>(unfinished) Logged in as Username</li>
          <li>(unfinished) Log Out</li>
        </ul>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
