<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= favicon_link_tag 'owl.jpg' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="page-header row">
    <h2>
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <%= link_to "View top media", root_path %>
      <%= link_to "View all media", works_path %>
      <%= link_to "Add a new work", new_work_path %>
      <%= link_to "View all users", users_path %>
      <div class="float-right">
        TODO: Log In
      </div>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
