<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h2>Media Ranker
      <small>
        Ranking the Best of Everything </small>
      </h2>
    </header>

    <nav>
      <ul>
        <li><%= link_to "View Top Media", top_media_path, class: "hollow button" %></li>
        <li><%= link_to "View All Media", works_path, class: "hollow button" %> </li>
        <li><%= link_to "Add New Work", new_work_path, class: "hollow button" %></li>
        <li><%= link_to "View All Users", users_path, class: "hollow button" %> </li>

        <li>
          <% if session[:user_id] %>
            <%= link_to "Logout", logout_path, method: :delete, class: "hollow button" %>
          <% else %>
            <%= link_to "Login", login_path, class: "hollow button" %>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>

  </body>
  </html>
