<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Media Ranker" %></title>
  <%= favicon_link_tag '/Users/marikoanderson/documents/ada/rails/MediaRanker/app/assets/images/owl.jpg' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <h2>
      <%= link_to "Media Ranker", root_path %>
      <small> Ranking the Best of Everything</small>
    </h2>

    <nav>
      <%= link_to "View Top Media", root_path, class: "button" %>
      <%= link_to "View All Media", works_path, class: "button" %>
      <%= link_to "Add a New Work", new_work_path, class: "button" %>
      <%= link_to "View All Users", users_path, class: "button"%>
      <div class="float-right">
        <% if session[:user_id] %>
        <%= link_to "Logged in as #{User.find_by(id: session[:user_id]).user_name}", user_path(:id), class: "button"%>
        <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
        <% else %>
        <%= link_to "Login", login_form_path, class: "button" %>
        <% end %>
      </div>

    </nav>
  </header>

  <section class="flash">
    <% flash.each do |name, message| %>
    <section class="callout <%= name %>">
      <% if name == "alert" %>
      <ul>
        <% flash[:alert].each do |field, message| %>
        <li>
          <strong><%= field %>: </strong>
          <%= message.join('') %>
        </li>
        <% end %>
      </ul>
      <% else %>
      <p>
        <%= message.join('') %>
      </p>
      <% end %>
    </section>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
