<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div>
        <%=link_to "All Works", works_path, method: :get%>
        <%=link_to "Add New Work", new_work_path, method: :get%>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div>
          copyright 2018
      </div>

    </footer>
  </body>
</html>
