<!DOCTYPE html>
<html lang="en">
<head>
  <link rel=“icon” type=“image/png” href=“/assets/owl.jpg”>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Media Ranker" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h2>
      <span><%= link_to "Media Ranker", root_path %></span><small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <ul>
        <li>
          <%= link_to "View top media", root_path, :class => "button" %>
        </li>
        <li>
          <%= link_to "View all media", works_path, :class => "button" %>
        </li>
        <li>
          <%= link_to "Add a new work", new_work_path, :class => "button" %>
        </li>
        <li>
          <%= link_to "View all users", users_path, :class => "button" %>
        </li>
        <% if @user && @user.id %>
        <li>
          <%= link_to "Logged in as #{@user.name}", user_path(@user.id), :class => "button" %>
          <%= link_to "Logout", logout_path, method: :delete, :class => "button" %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", login_path, :class => "button" %>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <section class="flash">
      <% flash.each do |name, message| %>
      <section class="callout <%= name %>">
        <% if name == "alert" %>
        <ul>
          <% flash[:alert].each do |field, message| %>
          <li>
            <strong><%= field %>: </strong>
            <%= message %>
          </li>
          <% end %>
        </ul>
        <% else %>
        <p>
          <%= message %>
        </p>
        <% end %>
      </section>
      <% end %>
    </section>
    <%= yield %>
  </main>

</body>
</html>
