<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= favicon_link_tag asset_path('owl.jpg'), rel: 'icon', type: 'image/jpg' %>

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="page-header row">
    <h2>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <%= link_to "View top media", works_path, class: "button" %>
      <%= link_to "View all media", root_path, class: "button" %>
      <%= link_to "Add a new work", new_work_path, class: "button" %>
      <%= link_to "View all users", users_path, class: "button" %>
      <div class="float-right">
        <!-- dry up with view helper? -->
        <% if session[:user_id] %>
        <% @user = User.find(session[:user_id]) %>
        <%= link_to "Logged in as #{@user.name}", user_path(@user), class: "button" %>
        <%= link_to "Logout", logout_path, method: :delete, class:"button secondary" %>
        <% else %>
        <% link_to "Log In", login_path, class: "button" %>
          <a class="button float-right" href="/login">Log In</a>
        <% end %>
      </div>
    </nav>
  </header>

  <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
