<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=“icon” type=“image/png” href=“/assets/owl.jpg”>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <p> <%= link_to "Media Ranker ", root_path %> <sub>| Ranking the Best of Everything</sub>
    </p>
  <nav>
    <ul>
      <li>
        <%= link_to "View top media" %>
      </li>
      <li>
        <%= link_to "View all media", works_path %>
      </li>
      <li>
        <%= link_to "Add a new work", new_work_path %>
      </li>
      <li>
        <%= link_to "View all users", users_path %>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="flash">
    <% flash.each do |name, message| %>
    <section class="callout <%= name %>">
      <% if name == "alert" %>
      <ul>
        <% flash[:alert].each do |field, message| %>
        <li>
          <strong><%= field %>: </strong>
          <%= message %>
        </li>
        <% end %>
      </ul>
      <% else %>
      <p>
        <%= message %>
      </p>
      <% end %>
  </section>
  <% end %>
</main>
  <body>
    <%= yield %>
  </body>
</html>
