<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel=“icon” type=“image/png” href=“assets/images/owl.jpg” sizes="150x162">
    <title><%= content_for?(:title) ? yield(:title) : "Kate's MediaRanker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class = "row">
      <h2>
        <%= link_to("Media Ranker", root_path) %>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav>
        <%= link_to("View top media", root_path, :class => "button") %>
        <%= link_to("View all media", works_path, :class => "button") %>
        <%= link_to("Add a new work", new_work_path, :class => "button") %>
        <%= link_to("View all users", users_path, :class => "button") %>

        <div>
          <% if session[:user] %>
            <%= link_to("Logged in as #{session[:user]["name"]}", user_path(session[:user]["id"]), class: 'button') %>
            <%= link_to('Log Out', logout_path, method: :post, :class => "button") %>
          <% else %>
            <%= link_to('Log In', login_path, :class => "button")  %>
          <% end %>
        </div>
      </nav>

      <% if flash[:error] || flash[:success] %>
         <section class="flash">
          <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
          <% end %>
        </section>
      <% end %>

    </header>

    <%= yield %>

  </body>
</html>
