<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h2>
        <%= link_to "Media Ranker", root_path %>
        <span class="tagline">Ranking the Best of Everything</span>
      </h2>
      <nav>
        <%= link_to "View top media", root_path %>
        <%= link_to "View all media", publications_path %>
        <%= link_to "Add a new work", new_publication_path %>
        <%= link_to "View all users", users_path %>
        <%= link_to "Log In: Path Needed", root_path %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
