<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag asset_path('owl.jpg'), :rel => 'icon', :type => 'image/jpg' %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= "MediaRanker"%></title>


  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <header class ="media">
    <h2>
      <a href="/">Media Ranker</a> <small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/works">View all media</a>
      <a class="button" href="/works/new">Add a new work</a>
      <a class="button" href="/users">View all users</a>
      <div class="float-right">
        <% if session[:logged_in_user] %>
        <p class="button">
          Logged in as
          <%= User.find(session[:logged_in_user]).name %>
        </p>
        <%= link_to "Log out", logout_path, class: "button", method: :delete%>
        <% else %>
        <%= link_to "Log in", login_path, class: "button"%>
        <% end %>
      </div>
    </nav>
  </header>

  <main>
    <section class="row">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </main>

</body>
</html>
