<!DOCTYPE html>
<html>
  <head class="page-header">
    <!-- <h2>
      <strong>Media Ranker</strong>
      <small> | Ranking the Best of Everything </small>
    </h2> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header row">
      <h2>
        <strong>Media Ranker</strong>
        <small>  Ranking the Best of Everything </small>
      </h2>
      <nav>

            <%= link_to "View top media", root_path, class: "button" %>

            <%= link_to "View all media", works_path, class: "button" %>

            <%= link_to "Add a new work", new_work_path, class: "button" %>

            <%= link_to "View all users", users_path, class: "button" %>

            <div class="float-right">
            <%= link_to "Login", new_user_path, class: "button" %>
            </div>
            <!-- not sure how Login works yet, also if these need to be buttons -->

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
